<!DOCTYPE html>
<html>
  <head>
    <title>Simple Map</title>
    <meta name="viewport" content="initial-scale=1.0">
    <meta charset="utf-8">
    <style>
      /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
      #map {
        height: 100%;
	top: 50%;
      }
      /* Optional: Makes the sample page fill the window. */
      html, body {
        height: 60%;
        width: 60%;
	margin: 10;
        padding: 10;
      }
    </style>
  </head>
  <body link="blue" alink="navy" vlink="gray">
  <form action="" method="POST">
      {% csrf_token %}
      {{ form }}
      <input type="submit" value="送信"/>
    </form>
    <table border="1" width="700" height="200">
    	<tr><th>ホテル名</th><th>ホテルURL</th></tr>
	<tr><td>{{a1}}</td><td><p><a href="{{a6}}"target="_blank">{{a1}}の情報はこちら</a></p></td></tr>
    	<tr><td>{{a2}}</td><td><p><a href="{{a7}}"target="_blank">{{a2}}の情報はこちら</a></p></td></tr>
    	<tr><td>{{a3}}</td><td><p><a href="{{a8}}"target="_blank">{{a3}}の情報はこちら</a></p></td></tr>
    	<tr><td>{{a4}}</td><td><p><a href="{{a9}}"target="_blank">{{a4}}の情報はこちら</a></p></td></tr>
    	<tr><td>{{a5}}</td><td><p><a href="{{a10}}"target="_blank">{{a5}}の情報はこちら</a></p></td></tr>
    </table>
    <div id="map"></div>
    <script>
      var map;
      function initMap() {
        map = new google.maps.Map(document.getElementById('map'), {
          center: {lat: {{lat}}, lng: {{lng}}},
          zoom: 8
        });
      }
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDfTqBDOAgYhUiE28RjaduSce7cLyzXIRQ&callback=initMap"
    async defer></script>
  </body>
</html>

