{% load staticfiles %}
<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}" />
    <title>Simple Map</title>
    <meta name="viewport" content="initial-scale=1.0">
    <meta charset="utf-8">
    <style>
      #map {
        height: 400px;
	top: 25%;
      }
      #header {
        height: 100px; 
      }
      #footer {
        height: 100px; 
      }
     
    </style>
  </head>
  <body link="blue" alink="navy" vlink="gray">
  <header id="header" >
  </header>
  <div class="container ">
      <div class="row">
          <div class="col-md-12">
              <form action="" method="POST" class="text-center">
                  {% csrf_token %}
                  {{ form }}
                  <input type="submit" value="送信"/>
              </form>
          </div>
      

          <div class="col-md-12">
              <table border="1" width="800" height="200" class="table table-striped">
              	<tr><th>ホテル名</th><th>写真</th><th>ホテルURL</th></tr>
          	    <tr><td>{{a1}}</td><td><img src="{{b1}}" width="90" height="90"></td><td><p><a href="{{a6}}"target="_blank">{{a1}}の情報はこちら</a></p></td></tr>
              	<tr><td>{{a2}}</td><td><img src="{{b2}}" width="90" height="90"></td><td><p><a href="{{a7}}"target="_blank">{{a2}}の情報はこちら</a></p></td></tr>
              	<tr><td>{{a3}}</td><td><img src="{{b3}}" width="90" height="90"></td><td><p><a href="{{a8}}"target="_blank">{{a3}}の情報はこちら</a></p></td></tr>
              	<tr><td>{{a4}}</td><td><img src="{{b4}}" width="90" height="90"></td><td><p><a href="{{a9}}"target="_blank">{{a4}}の情報はこちら</a></p></td></tr>
              	<tr><td>{{a5}}</td><td><img src="{{b5}}" width="90" height="90"></td><td><p><a href="{{a10}}"target="_blank">{{a5}}の情報はこちら</a></p></td></tr>
              </table>
          </div>

          <div class="col-md-12">
                <div id="map"></div>
                <script>
                  var map;
                  function initMap() {
                    map = new google.maps.Map(document.getElementById('map'), {
                      center: {lat: {{lat}}, lng: {{lng}}},
                      zoom: 13
                    });
            	 var m_latlng1 = new google.maps.LatLng({{c1.0}},{{c2.0}});
            	 var marker1 = new google.maps.Marker({
                	 position: m_latlng1,
                 	 map: map
              });
            	 var m_latlng2 = new google.maps.LatLng({{c1.1}},{{c2.1}});
            	 var marker2 = new google.maps.Marker({
                	 position: m_latlng2,
                 	 map: map
              });
            	 var m_latlng3 = new google.maps.LatLng({{c1.2}},{{c2.2}});
            	 var marker3 = new google.maps.Marker({
                	 position: m_latlng3,
                 	 map: map
              });
            	 var m_latlng4 = new google.maps.LatLng({{c1.3}},{{c2.3}});
            	 var marker4 = new google.maps.Marker({
                	 position: m_latlng4,
                 	 map: map
              });
            	 var m_latlng5 = new google.maps.LatLng({{c1.4}},{{c2.4}});
            	 var marker5 = new google.maps.Marker({
                	 position: m_latlng5,
                 	 map: map
              });
            	}
                </script>
                <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDfTqBDOAgYhUiE28RjaduSce7cLyzXIRQ&callback=initMap"
                async defer></script>
       </div>
    </div>
  </div>
  <footer id="footer">
  </footer>
  </body>
</html>
