{% load staticfiles %}
<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}" />
    <title>Simple Map</title>
    <meta name="viewport" content="initial-scale=1.0">
    <meta charset="utf-8">
    <style>
      #map {
        height: 400px;
	top: 25%;
      }
      #header {
        height: 100px;
      }
      #footer {
        height: 100px;
      }
      form{
        position: relative;
        top: 50%;
      }

    </style>
  </head>
  <body link="blue" alink="navy" vlink="gray">
  <header id="header" >
  </header>
  <div class="container ">
      <div class="row">
          <div class="col-md-12">
              <table border="1" width="800" height="200" class="table table-striped">
              	<tr><th>ホテル名</th><th>じゃらん</th><th>JTB</th><th>test</th></tr>
          	<tr><td>{{a1.0}}</td><td>{{e1.0}}</td><td>{{f1.0}}</td><td>{{f1.0}}</td></tr>
		<tr><td>{{a1.0}}</td><td>{{e1.0}}</td><td>{{f1.0}}</td><td>{{f1.0}}</td></tr>
              	<tr><td>{{a1.0}}</td><td>{{e1.0}}</td><td>{{f1.0}}</td><td>{{f1.0}}</td></tr>
              	<tr><td>{{a1.0}}</td><td>{{e1.0}}</td><td>{{f1.0}}</td><td>{{f1.0}}</td></tr>
              	<tr><td>{{a1.0}}</td><td>{{e1.0}}</td><td>{{f1.0}}</td><td>{{f1.0}}</td></tr>
              </table>
	<a href="http://127.0.0.1:8080/mapapp/comparison/"target="_blank">料金比較はこちら</a>
          </div>

          
    </div>
  </div>
  <footer id="footer">
  </footer>
  </body>
</html>

